extends layout

block content
  .main-container
    .cloud-image
        img(src='/images/successCloudNew.svg')
    .content
        .content-body
            .success-text
                p LanBookingAPI
            .description 
                p Simple API, no actual UI features
